.cke_specialchar:hover {
    text-decoration: none;
}

.cke_combo_button.cke_combo_button {
    margin: 0 6px 2px 0;
}

.cke_toolgroup.cke_toolgroup {
    margin: 0 6px 2px 0;
}

textarea.cke_dialog_ui_input_textarea {
    height: auto !important;
}

/* Hack to override StartCSS */
.cke_combo_button.cke_combo_button {
    background: #fff;
}


.cke_button_icon.cke_button__creatediv_icon {
    background-image: url("/plugins/editors/ckeditor/assets/box-icon.png") !important;
    background-position: 0 0 !important;
}

.cke_hidpi .cke_button_icon.cke_button__creatediv_icon {
    background-image: url("/plugins/editors/ckeditor/assets/box-icon_hidpi.png") !important;
    background-position: 0 0 !important;
}

/* Clear StartCSS link borders: */
.cke_reset_all a[href],
.cke_reset_all a[href]:hover,
.cke_reset_all a[href]:active,
.cke_reset_all a[href]:focus {
    border: 0 none;
    cursor: pointer;
}

.cke_notifications_area {
  z-index: 10050 !important;
}
